<div class="about-founder-container">
    <!-- Heading Section -->
    <h1 class="intro-title highlight" @fadeInTitle>
      The birth to Magical Yoga
    </h1>
  
    <!-- Subheading -->
    <h2 class="intro-subtitle" @fadeInSubtitle>
      Meet our Founder and Instructor
    </h2>
  
    <!-- Content Section -->
    <div class="about-content">
      <!-- Left: Image Frame -->
      <div class="image-frame">
        <img src="assets/Images/founder-image.webp" alt="Sundaram R" />
      </div>
  
      <!-- Right: Founder Details -->
      <div class="founder-details">
        <h2 class="founder-name" @fadeInSubtitle>Sundaram R</h2>
        <p class="founder-content" @fadeInText>
          With over<strong> 12 years </strong>of expertise, recognized as a National Yoga Champion, and <strong>Certified Instructor</strong> by the Ministry of AYUSH (YCB), the foundation of excellence in yoga is evident. As an Esteemed Jury Member in South India yoga competitions, this dedication to yoga brings transformative practices to life, inspiring growth and balance. He is driven to help everyone experience the magic he has found through yoga, bringing its transformative power to their lives.
        </p>
  
        <!-- Social Media Icons -->
        <div class="social-icons">
            <a href="mailto:sundaram.r2015@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
          <a href="https://instagram.com/sundaram_r_" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://youtube.com/@magicalyogatamil" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  
