<footer class="footer-container">
    <!-- First Part: Columns -->
    <div class="footer-top">
      <!-- First Column: Logo and Socials -->
      <div class="footer-column">
        <img src="/assets/Images/footer-logo.png" alt="Magical Yoga Logo" class="footer-logo" />
        <p class="social-text">Connect with us on Socials:</p>
        <div class="social-icons">
            <a href="https://wa.me/9884524742?text=Want%20to%20Enquire%20About%20Yoga%20Sessions%20%26%20Try%20a%20Free%20Trial" target="_blank" aria-label="WhatsApp">
              <i class="fab fa-whatsapp social-icon"></i>
            </a>
            <a href="https://instagram.com/magical__yoga" target="_blank" aria-label="Instagram">
              <i class="fab fa-instagram social-icon"></i>
            </a>
            <a href="https://youtube.com/@magicalyogatamil" target="_blank" aria-label="YouTube">
              <i class="fab fa-youtube social-icon"></i>
            </a>
          </div>          
      </div>
  
      <!-- Second Column: Quick Links -->
      <div class="footer-column quicklink">
        <h2 class="footer-title">Quick Links</h2>
        <ul class="footer-links">  
          <li><a href="summer-camp">Summer Camp</a></li>
          <li><a href="video-contents">Video Contents</a></li>
          <li><a href="about-us">About Us</a></li>
          <li><a href="contact-us">Contact</a></li>
        </ul>
      </div>
  
      <!-- Third Column: Contact Info -->
      <div class="footer-column contact-us">
        <h2 class="footer-title">Contact Us</h2>
        <p class="contact-info">Email: <a href="mailto:magicalyogatamil&#64;gmail.com">magicalyogatamil&#64;gmail.com</a></p>
        <p class="contact-info">Phone: +91-9884524742</p>
      </div>
    </div>
  
    <!-- Divider -->
    <div class="footer-divider"></div>
  
    <!-- Bottom Part: Rights Reserved -->
    <div class="footer-bottom">
      <p>© 2025 Magical Yoga. All rights reserved.</p>
    </div>
  </footer>
  