/* Intro Container Styling */
.intro-container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: black; /* Default color for general text */
    padding: 40px 20px;
    
  }
  
  /* Title Styling */
  .intro-title {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  
  /* Subtitle Styling */
  .intro-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  /* Introductory Text Styling */
  .intro-text {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 0;
  }

  
  
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
  
    .intro-subtitle {
      font-size: 1.8rem;
    }
  
    .intro-text {
      font-size: 1.2rem;
    }
  }
  