<section class="video-contents">
    <h2 @fadeInTitle><strong>Experience Yoga Anytime, Anywhere!</strong></h2>
    <p @fadeInSubtitle>Join our guided sessions from the comfort of your home and embrace the transformative power of yoga at your own pace.</p>

  
    <div class="row" @fadeInText>
      <!-- Video 1 -->
      <div class="col-md-6">
        <div class="video-card">
          <iframe width="100%" height="315"
            src="https://www.youtube.com/embed/Zh6N8vrAJUA"
            title="Yoga Session 1"
            frameborder="0"
            allowfullscreen>
          </iframe>
          <h3>Suryanamaskar guide</h3>
        </div>
      </div>
  
      <!-- Video 2 -->
      <div class="col-md-6">
        <div class="video-card">
          <iframe width="100%" height="315"
            src="https://www.youtube.com/embed/c7_sx-ip9Es"
            title="Yoga Session 2"
            frameborder="0"
            allowfullscreen>
          </iframe>
          <h3>Mistakes to avoid</h3>
        </div>
      </div>
    </div>
  </section>
  